#a {
    background-color: red;
}

#b {
    background-color: blue;
}

#c {
    background-color: blueviolet;
}

#d {
    background-color: greenyellow;
}
#e {
    background-color: rgb(105, 22, 57);
}
#f {
    background-color: rgb(148, 78, 32);
}
#g {
    background-color: rgb(161, 116, 56);
}
#h {
    background-color: rgb(51, 122, 163);
}
#i {
    background-color: rgb(118, 24, 141);
}
@media (min-width: 768px) {
    #a {
        background-color: rgb(28, 59, 73);
    }
    
    #b {
        background-color: rgb(109, 138, 55);
    }
    
    #c {
        background-color: rgb(29, 78, 170);
    }
    
    #d {
        background-color: rgb(160, 18, 141);
    }
    #e {
        background-color: rgb(175, 136, 53);
    }
    #f {
        background-color: rgb(69, 63, 153);
    }
    #g {
        background-color: rgb(103, 161, 56);
    }
    #h {
        background-color: rgb(219, 125, 37);
    }
    #i {
        background-color: rgb(113, 27, 170);
    }
}