/* mobile view */
#a {
    background-color: red;
}

#b {
    background-color: blue;
}

#c {
    background-color: blueviolet;
}

#d {
    background-color: greenyellow;
}
#e {
    background-color: rgb(105, 22, 57);
}
#f {
    background-color: rgb(148, 78, 32);
}
#g {
    background-color: rgb(161, 116, 56);
}
#h {
    background-color: rgb(51, 122, 163);
}
#i {
    background-color: rgb(118, 24, 141);
}

/* tablet view */
@media (min-width: 768px) {
    #a {
        background-color: rgb(28, 59, 73);
    }
    
    #b {
        background-color: rgb(109, 138, 55);
    }
    
    #c {
        background-color: rgb(29, 78, 170);
    }
    
    #d {
        background-color: rgb(160, 18, 141);
    }
    #e {
        background-color: rgb(175, 136, 53);
    }
    #f {
        background-color: rgb(69, 63, 153);
    }
    #g {
        background-color: rgb(103, 161, 56);
    }
    #h {
        background-color: rgb(219, 125, 37);
    }
    #i {
        background-color: rgb(113, 27, 170);
    }
}

/* desktop view */
@media (min-width: 961px) {
    #a {
        background-color: rgb(140, 204, 103);
    }
    
    #b {
        background-color: rgb(80, 32, 72);
    }
    
    #c {
        background-color: rgb(165, 108, 34);
    }
    
    #d {
        background-color: rgb(47, 39, 68);
    }
    #e {
        background-color: rgb(27, 126, 27);
    }
    #f {
        background-color: rgb(192, 24, 24);
    }
    #g {
        background-color: rgb(178, 207, 49);
    }
    #h {
        background-color: rgb(219, 37, 180);
    }
    #i {
        background-color: rgb(219, 223, 30);
    }

}